.v-button {
    color: $white !important;
    background-color: $astralBlue !important;
    border-color: $azureBlue !important;
    text-transform: none;
}

.v-btn-icon {
    color: $white !important;
    background-color: $astralBlue !important;
    margin: 0 !important;
    height: 31px !important;
    width: 31px !important;
}

.v-button-astralblue {
    color: $white !important;
    background-color: $astralBlue !important;
}

.v-button-yellow {
    color: $white !important;
    background-color: $yellow !important;
}

.v-button-green {
    color: $white !important;
    background-color: $green !important;
}

.v-button-darkgreen {
    color: $white !important;
    background-color: $darkgreen !important;
}

.v-button-red {
    color: $white !important;
    background-color: $red !important;
}

.v-button-lightred {
    color: $white !important;
    background-color: $lightRed !important;
}

.v-button-skyBlueDark {
    color: $white !important;
    background-color: $skyBlueDark !important;
}

.v-button-brown {
    color: $white !important;
    background-color: $brown !important;
}

.v-button-turquoise {
    color: $white !important;
    background-color: $turquoise !important;
}
