
/* BEGIN Black */
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
@font-face {
    font-family: Roboto;
    font-weight: 900;
    font-style: normal;
}
/* END Black */

/* BEGIN Black Italic */
@import url('https://fonts.googleapis.com/css?family=Roboto:900i');
@font-face {
    font-family: Roboto;
    font-weight: 900;
    font-style: italic;
}
/* END Black Italic */

/* BEGIN Bold */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
}
/* END Bold */

/* BEGIN Bold Italic */
@import url('https://fonts.googleapis.com/css?family=Roboto:700i');
@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
}
/* END Bold Italic */

/* BEGIN Italic */
@import url('https://fonts.googleapis.com/css?family=Roboto:400i');
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    font-weight: normal;
    font-style: italic;
}
/* END Italic */

/* BEGIN Light */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
}
/* END Light */

/* BEGIN Light Italic */
@import url('https://fonts.googleapis.com/css?family=Roboto:300i');
@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
}
/* END Light Italic */

/* BEGIN Medium */
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
}
/* END Medium */

/* BEGIN Medium Italic */
@import url('https://fonts.googleapis.com/css?family=Roboto:500i');
@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: italic;
}
/* END Medium Italic */

/* BEGIN Regular */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
}
/* END Regular */

/* BEGIN Thin */
@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@font-face {
    font-family: Roboto;
    font-weight: 100;
    font-style: normal;
}
/* END Thin */

/* BEGIN Thin Italic */
@import url('https://fonts.googleapis.com/css?family=Roboto:100i');
@font-face {
    font-family: Roboto;
    font-weight: 100;
    font-style: italic;
}
/* END Thin Italic */

